body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #121212;
    color: white;
    padding: 10px 20px; /* Añade espacio horizontal */
    display: flex;
    justify-content: space-between; /* Espacia los elementos */
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Alinea los elementos en fila */
    gap: 20px; /* Espaciado uniforme entre los elementos */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 10px;
    position: relative;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffd700;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5);
    transform: scale(1.05);
}

.user-info {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.user-info img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-info span {
    margin-left: 10px;
}

.user-info:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffd700;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(255, 255, 0, 0.5);
    transform: scale(1.05);
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
}

.dropdown-menu a:hover {
    background-color: #f0f0f0;
}

.dropdown-menu.active {
    display: block;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.movie-card img {
    width: 100%; /* La imagen ocupará el 100% del ancho de la tarjeta */
    height: 300px; /* Altura fija para mantener la proporción */
    object-fit: cover; /* Asegura que la imagen cubra el espacio sin distorsionarse */
    border-radius: 5px;
}

footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
